<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Travinizer - Keep an eye on your repositories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {% stylesheets '../app/Resources/public/css/*' %}
        <link rel="stylesheet" type="text/css" charset="UTF-8" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>

<body class="background">

<div class="forkme pull-right">
    <a target="blank" href="https://github.com/pdenis/travinizer" title="Fork me on github"><img src='/images/forkme.png' alt="Fork me on github"/></a>
</div>

<div class="wrap">

    <div class="content container">
        {% include "SnideTravinizerBundle:Common:message.html.twig" %}

        <div class="row row-nav">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="{{ path('snide_travinizer_dashboard') }}">Travinizer </a><div class="subtitle">Keep an eye on your repositories</div>

                        <div class="nav-collapse collapse">
                            <ul class="nav">

                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                        {% if app.user %}
                            <div class="user pull-right">
                                <ul class="dropdown pull-left user-dropdown">

                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Welcome {{ app.user.username }}
                                        <b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li>
                                            <a tabindex="-1" href="{{ path('snide_travinizer_repo_new') }}">Add a repository</a>
                                            <a tabindex="-1" href="{{ path('fos_user_profile_edit') }}">Account</a>
                                        </li>
                                    </ul>
                                </ul>
                                | <a href="{{ path("fos_user_security_logout") }}" title="logout">Logout</a></div>
                        {% else %}
                            <div class="user pull-right"><a href="{{ path("fos_user_registration_register") }}" title="Sign up">Sign up</a> | <a href="{{ path("fos_user_security_login") }}" title="Sign in">Sign in</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% block main %}

        {% endblock %}
        <div id="footer" class="row row-footer">
            <div class="copyright">2014 © travinizer. All Rights Reserved</div>
        </div>
    </div>
</div>
{% block javascript %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    {% javascripts '../app/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>